body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#game-screen {
  position: relative;
  width: 90%;
  max-width: 800px;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
  background-image: url('https://i.pinimg.com/originals/46/ab/19/46ab19bc3ccd28277f14e7c5c17d0652.gif');
  background-size: contain; /* Ajuste para evitar que la imagen se corte */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  color: white;
}
#story-wrapper {
  margin-top: 10%;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}
#story {
  margin-top: 10%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  display: inline-block;
  border-radius: 10px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 2em;
  -webkit-background-clip: text; /* Aplica el fondo transparente solo a las letras */
  background-clip: text; /* Aplica el fondo transparente solo a las letras */
  text-shadow: 0 0 10px rgba(255, 255, 255, 80); /* Agrega un contorno más grueso al texto */
}

#options {
  margin-top: 5%;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 1.5em;
}
